.app-container {
  display: flex;
  height: 100vh;
  background-color: #F0F8FF; /* Nền nhạt chung */
}

.app-sidebar {
  width: 250px;
  background-color: var(--primary-color); /* Dùng biến từ index.css */
  flex-shrink: 0;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-header {
  height: 60px;
  background-color: white;
  border-bottom: 2px solid #eee;
}

.app-content {
  flex: 1;
  padding: var(--spacing-lg);
  overflow-y: auto; /* Chỉ cuộn nội dung, menu đứng yên */
}