name: Kiem tra Client (CI)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-client:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./client

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Cai dat Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'
        cache-dependency-path: client/package-lock.json

    # --- ĐÂY LÀ CHỖ ĐÃ SỬA ---
    - name: Cai dat thu vien
      run: npm install --legacy-peer-deps
      working-directory: .client
    # -------------------------

    - name: Build thu du an
      run: npm run build --if-present
